.container {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(4, 1fr);
     gap: 10px 10px;
     padding: 10px;
     /* grid-auto-flow:; */
     justify-content: center;
     flex-wrap: wrap;
    
    }
.container div {
     background-color: rgb(120, 90, 76);
     border: 1px solid palegreen;     

}
* {
     margin: 0px;
     padding: 10px;
}
.img1 {
     grid-row-end:span 2;
      
     
}
.img8 {
     grid-column-end:span 3;
     
}
.img4 {
     grid-row-end:span 2;
}
h4 {
     text-align: end;
}
h1 {
     text-align: center;
}
.ip {
     border-radius: 40px;
     
}
.logo {
     border-radius: 60px;
     width: 280px;
     
}
.nav {
     display: flex;
     background-color: rgb(120, 90, 76);

}
.nav a {

  color: burlywood ;

  padding: 14px 20px;
   border: 1px solid rgb(120, 90, 76);
  text-decoration: none;

  text-align: center;
}
.nav a:hover {

  background-color: rgb(63, 22, 3);

}
button {
     background-color: burlywood;
     color: rgb(55, 19, 3);
     
}
input {
     border-radius: 25px;
}
.sub {
     display: flex;
     justify-content: space-around;
     align-items: end;
}

  


